* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
ul, li {
    list-style: none;
}

h1, h2, h3, h4, h5, h6 {
    font-weight: 400;
}

a {
    & {
        color: #000;
        text-decoration: none;
        cursor: pointer;
    }
    &:link, &:visited, &:hover, &:active {
        text-decoration: none;
    }
}

i {
    font-style: normal;
}

.clip {
    overflow: hidden;
    text-overflow: ellipsis;
}

.word-break {
    white-space: nowrap;
    word-break: normal;
}

.loading {
    display: flex;
    justify-content: center;
    align-items: center;
    line-height: 30px;
    color: #888;
    font-size: 14px;
    text-align: center
}

.app-wrap {
    position: absolute;
    top: 0;
    left: 0;
    bottom: 0;
    right: 0;
    overflow: hidden;
}