@import 'config';

.nav {
    & {
        position: fixed;
        top: 64px;
        left: 0;
        z-index: 100;
        height: 40px;
        width: 100%;
        display: flex;
        background: #fff;
    }
    &::after {
        @extend .pseudo-border-bottom
    }
    .tab {
        & {
            flex: 1;
            width: 33.3%;
            height: 100%;
            z-index: 1;
            text-align: center;
        }
        .tab-text {
            position: relative;
            display: inline-block;
            height: 100%;
            padding: 0 5px;
            line-height: 40px;
            font-size: 15px;
            color: $navColor;
            box-sizing: border-box;
        }
    }
}
.tab.active {
    .tab-text {
        & {
            color: $navActiveColor;
        }
        &::after {
            position: absolute;
            content: '';
            left: 0;
            bottom: -2px;
            height: 4px;
            width: 100%;
            background: $navActiveColor;
            transform: scaleY(0.5);
        }
    }
}

